/*
#body = # it's for ID tag in HTML
.body = . it's for class tags in html
body = it's for all commands called "body" in html

HTML:
 id="" it's just used to say about one TAG in html <></>, it's one attribute

 class="" it's used to say multiples TAG in html <></>, one attribute very useful!

*/


.whatsapp-logo{
    position: fixed; /*position: fixed; make the img or content be in your screen every time, like glued, and position: absolute; it's not movible, stay in the place you put it and don't move*/
    bottom: 15px;
    right: 15px;
    z-index: 2; /* this gonna make the IMG be in one layer front! making him show above the texts */
}


/* ANIMATION on pass the mouse in the IMG*/
.whatsapp-logo:hover{
    transform: scale(1.15);
    animation: 1s animationMakeBigger ease-in-out;
    cursor: pointer;
}

/* ANIMATION, making the variable for animation */
@keyframes animationMakeBigger{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.15);
    }
}

.header-from-site{
    background-color: #16f35fd8;
    min-height: 70px;
    max-height: 120px;
}
.body{
    background-color: #e7eeec;
}

.logo{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
}

.main-introduction{
    display: flex;  /*USE THE FLEXBOX EDITOR ON MICROSOFT EDGE DEVTOOLS! IT'S VERY GOOD!!! */
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    flex-wrap: wrap;

    .send-for-the-recipe{
        border: 1px solid #000;
        border-radius: 2px;
        background-color: #fff;
    }
    

}

.main-text p{
    word-break: break-word;
    max-width: 460px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Poppins-SemiBold;
    
}
/* When use "word-break: break-all;" or "word-break: word it's good use "max-width" not "width", BUT! he break ALL THE WORDS, making spaces wrong and not cool for reading, so it's better "word-break: break-word;" */


.txt{
    font-family: Poppins-SemiBold;
}

.title{
    font-family: Poppins-SemiBold;
    margin-bottom: 30px;
    font-size: 40px;
}

.send-for-the-recipe ul li{
    margin: 8px;
}

.infoorreciepe{
    margin: 0 40px 100px;
}

.imgalign,
.video{
    margin-left: 8%;
    display: block;
    width: 560px;
    height: 315px;
    border-radius: 20px;
    border: 1px solid #000;
}

.imgborder{
    border: 1px #000 solid;
}

.important-txt{
    background-color: #ffff00;
    color: #000;
}

.space-txt{
    margin-bottom: 50px;
}
/* .test{
    font-weight: bold;
}  this is how you make your text "BOLD"*/
/* .test{
    text-decoration: underline;
}  make the test have one "UNDERLINE", like the tag <u> from HTML*/


/* "word-wrap: break-word;" it's one command or attribute you can add for your text to the text not be infinite for the right side, you put one limit on it, And I think the "word-break: break-all;" it's for "display: flex;" (break-all it's for break all the words, not making the reading confortable, because make some words separate wrongly) */

.history,
.pacoca,
.bolo-de-milho,
.tapioca,
.bolo-de-mandioca,
.macaxeira,
.beiju,
.farofa-de-banana{
    word-wrap: break-word;
}

/* .video{
    margin: auto;
    display: block;
    width: 800px;
    height: 444px;
    padding: 5px;
    border: 5px solid #000;
    border-radius: 75px;
    background-color: #27332f;
   
}  if the next one don't work very well*/

/* Image we gonna use to change the color of website*/
.sun,
.moon,
.change-img{
    position: absolute;
    right: 2px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* HERE GONNA CHANGE ALL THE TAGS INSIDE IT FOR ONE DARK MODE WHO LIKE TO READ IN THINGS NO SHINY! */
/* this class is on the JS to turn on in the body when click the SUN (In this part, I recommend put one class="" in the body, just to HAVE sure this gonna work)*/
/* this gonna change the <p>, <h1>, <header> to one dark mode, I'm gonna do it */
.dark-mode{
    background-color: #181113; /* invert body */
    
    p,
    h1,
    u{
        filter: invert(1);
    }

    .important-txt{
        background-color: #0000FF;
        color: #ffffff;
    }

    .send-for-the-recipe{
        border: 1px solid #ffffff;
        border-radius: 2px;
        background-color: #807e7e;
        a{
            color: #fff;
        }
    }
    
    header{
        background-color: rgb(233, 12, 160); /* I recommend use rgb in invert image and another things */
        /*this is one good website for change and invert color https://imgonline.tools/pt/invert-color */
    }
    
}

/* good commands in CSS is filter: ; and transform: ; very good for changing and making animations*/
/* example filter: invert(1); who invert the color, and the transform: scale(1); you can change the scale(size) of img or object with the class or id, whatever */

/* I'm gonna use on the responsive to work in all cellphone */
.link{
    display: none;
}
